@import "@fontsource/roboto";
html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  margin: 0px !important;
  padding: 0px !important;
  font-family: "Roboto", serif !important;
  letter-spacing: 2px;
  background-color: #f8f8f8;
}
input:focus,
button:focus,
textarea:focus {
  outline: none;
}
.g3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.g2 {
  grid-template-columns: repeat(2, 1fr);
}
body.no-scroll {
  overflow: hidden;
  height: 100vh;
}
.relative {
  position: relative;
}
.no-margin {
  margin: 0px;
}
.pointer {
  cursor: pointer;
}
.isImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(34, 34, 34, 5%);
}
.z2 {
  z-index: 2;
}
.isBlock {
  display: block;
}
.flex-box-row {
  display: flex;
  flex-direction: row;
}
.flex-box-col {
  display: flex;
  flex-direction: column;
}
.nowrap {
  flex-wrap: nowrap;
}
.wrap {
  flex-wrap: wrap;
}
.br10 {
  border-radius: 10px;
}
.border-right {
  border-right: 2px solid #fafafa;
}
.t {
  justify-content: space-evenly;
}
.toEnd {
  display: flex;
  align-items: end;
  justify-content: end;
}
.border-bottom {
  border-bottom: 2px solid #fafafa;
}
.border-left {
  border-left: 2px solid #fafafa;
}
.border-top {
  border-top: 2px solid #fafafa;
}
.sp-between {
  justify-content: space-between;
}
.sp-start {
  justify-content: flex-start;
}
.align {
  flex: auto;
  align-self: start;
}
.sp-around {
  justify-content: space-around;
}
.sp-even {
  justify-content: space-evenly;
}
.align-center {
  align-items: center;
}
.align-start {
  align-items: start;
}
.align-list {
  align-self: start;
}
.align-end {
  align-items: end;
}
.ln15 {
  line-height: 1.5em;
}
.ln2 {
  line-height: 2em;
}
.h100 {
  height: 100% !important;
}
.g130 {
  gap: 130px;
}
.g125 {
  gap: 125px;
}
.g120 {
  gap: 120px;
}
.g115 {
  gap: 115px;
}
.g110 {
  gap: 110px;
}
.g105 {
  gap: 105px;
}
.g100 {
  gap: 100px;
}
.g95 {
  gap: 95px;
}
.g90 {
  gap: 90px;
}
.g85 {
  gap: 85px;
}
.g80 {
  gap: 80px;
}
.g75 {
  gap: 75px;
}
.g70 {
  gap: 70px;
}
.g65 {
  gap: 65px;
}
.g60 {
  gap: 60px;
}
.g55 {
  gap: 55px;
}
.g50 {
  gap: 50px;
}
.g45 {
  gap: 45px;
}
.g40 {
  gap: 40px;
}
.g35 {
  gap: 35px;
}
.g30 {
  gap: 30px;
}
.g25 {
  gap: 25px;
}
.g20 {
  gap: 20px;
}
.g15 {
  gap: 15px;
}
.g10 {
  gap: 10px;
}
.g8 {
  gap: 8px;
}
.g5 {
  gap: 5px;
}
.text-end {
  text-align: end;
}
.text-start {
  text-align: start;
}
.text-center {
  text-align: center;
}
.mauto {
  margin-left: auto;
  margin-right: auto;
}
.mt0 {
  margin-top: 0px;
}

.mt5 {
  margin-top: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px;
}
.mt25 {
  margin-top: 25px;
}
.mt30 {
  margin-top: 30px;
}
.mt35 {
  margin-top: 35px;
}
.mt40 {
  margin-top: 40px;
}
.mt45 {
  margin-top: 45px;
}
.mt50 {
  margin-top: 50px;
}
.mt55 {
  margin-top: 55px;
}
.mt60 {
  margin-top: 60px;
}
.mt70 {
  margin-top: 70px;
}
.mt80 {
  margin-top: 80px;
}
.mt85 {
  margin-top: 85px;
}
.mt90 {
  margin-top: 90px;
}
.mt95 {
  margin-top: 95px;
}
.mt100 {
  margin-top: 100px;
}
.mt105 {
  margin-top: 105px;
}
.mt110 {
  margin-top: 110px;
}
.mt115 {
  margin-top: 115px;
}
.mt120 {
  margin-top: 120px;
}
.mt125 {
  margin-top: 125px;
}
.mt130 {
  margin-top: 130px;
}
.mb130 {
  margin-bottom: 130px;
}
.mb0 {
  margin-bottom: 0px;
}
.mb5 {
  margin-bottom: 5px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb25 {
  margin-bottom: 25px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb35 {
  margin-bottom: 35px;
}
.mb40 {
  margin-bottom: 40px;
}
.mb45 {
  margin-bottom: 45px;
}
.mb50 {
  margin-bottom: 50px;
}
.mb55 {
  margin-bottom: 55px;
}
.mb60 {
  margin-bottom: 60px;
}
.mb65 {
  margin-bottom: 65px;
}
.mb70 {
  margin-bottom: 70px;
}
.mr5 {
  margin-right: 5px;
}
.mr10 {
  margin-right: 10px;
}
.mr15 {
  margin-right: 15px;
}
.mr20 {
  margin-right: 20px;
}
.mr25 {
  margin-right: 25px;
}
.mr30 {
  margin-right: 30px;
}
.mr35 {
  margin-right: 35px;
}
.mr40 {
  margin-right: 40px;
}
.ml5 {
  margin-left: 5px;
}
.ml10 {
  margin-left: 10px;
}
.ml15 {
  margin-left: 15px;
}
.ml20 {
  margin-left: 20px;
}
.ml25 {
  margin-left: 25px;
}
.ml30 {
  margin-left: 30px;
}
.ml35 {
  margin-left: 35px;
}
.ml40 {
  margin-left: 40px;
}
.p5 {
  padding: 5px;
}
.p10 {
  padding: 10px;
}
.p15 {
  padding: 15px;
}
.p40 {
  padding: 40px;
}
.p35 {
  padding: 35px;
}
.p30 {
  padding: 30px;
}
.p25 {
  padding: 25px;
}
.p20 {
  padding: 20px;
}
.pt10 {
  padding-top: 10px;
}
.pt20 {
  padding-top: 20px;
}
.pt30 {
  padding-top: 30px;
}
.pb10 {
  padding-bottom: 10px;
}
.pb15 {
  padding-bottom: 15px;
}
.pb20 {
  padding-bottom: 20px;
}
.pb30 {
  padding-bottom: 30px;
}
.pb40 {
  padding-bottom: 40px;
}
.pb50 {
  padding-bottom: 50px;
}
.pb60 {
  padding-bottom: 60px;
}
.pb70 {
  padding-bottom: 70px;
}
.pl5 {
  padding-left: 5px;
}
.pl10 {
  padding-left: 10px;
}
.pl15 {
  padding-left: 15px;
}
.pl20 {
  padding-left: 20px;
}
.pl25 {
  padding-left: 25px;
}
.pl30 {
  padding-left: 30px;
}
.pr5 {
  padding-right: 5px;
}
.pr10 {
  padding-right: 10px;
}
.pr15 {
  padding-right: 15px;
}
.pr20 {
  padding-right: 20px;
}
.pr25 {
  padding-right: 25px;
}
.w100 {
  width: 100%;
}
.w98 {
  width: 98%;
}
.w95 {
  width: 95%;
}
.w90 {
  width: 90%;
}
.w88 {
  width: 88%;
}
.w85 {
  width: 85%;
}
.w80 {
  width: 80%;
}
.w75 {
  width: 75%;
}
.w73 {
  width: 73%;
}
.w70 {
  width: 70%;
}
.w68 {
  width: 68%;
}
.w65 {
  width: 65%;
}
.w60 {
  width: 60%;
}
.w55 {
  width: 55%;
}
.w54 {
  width: 54%;
}
.w53 {
  width: 53%;
}
.w52 {
  width: 52%;
}
.w50 {
  width: 50%;
}
.w48 {
  width: 48%;
}
.w45 {
  width: 45%;
}
.w40 {
  width: 40%;
}
.w35 {
  width: 35%;
}
.w32 {
  width: 32%;
}
.w30 {
  width: 30%;
}
.w28 {
  width: 28%;
}
.w25 {
  width: 25%;
}
.w23 {
  width: 23%;
}
.w20 {
  width: 20%;
}
.w18 {
  width: 18%;
}
.w15 {
  width: 15%;
}
.w12 {
  width: 12%;
}
.w10 {
  width: 10%;
}
.w5 {
  width: 5%;
}
.wfit {
  width: fit-content;
}
.bold {
  font-weight: bold;
}
.divider {
  border-bottom: 1px solid #e0e0e0;
}
.sq-img {
  width: 50px;
  height: auto;
  background-color: rgba(34, 34, 34, 5%);
}
